In [1]:
import pandas as pd
import dill

In [2]:
data = pd.read_csv('books_data.csv')
data.head()

,Unnamed: 0,name,score,helpful,rating,review
0,0,book_11014,60.193011,3/7,2,The Plot for The Giver\n The plot for the ...
1,1,book_111659,63.900913,6/8,5,THERE &amp; BACK AGAIN\n AWESOME book! Ori...
2,2,book_111922,36.199948,1/16,1,How do you keep an idiot busy for hours?\n ...
3,3,book_114362,65.307664,2/7,1,Randomness\n Did I miss something here? Wh...
4,4,book_116528,55.329414,16/45,1,pseudo-intellectual and not interesting\n ...

# Data Cleaning

In [3]:
data['review'] = data['review'].apply(lambda x: x.replace('\n',''))

In [4]:
data['length'] = data.review.apply(lambda x: len(x))
data.head()

,Unnamed: 0,name,score,helpful,rating,review,length
0,0,book_11014,60.193011,3/7,2,The Plot for The Giver The plot for the bo...,1421
1,1,book_111659,63.900913,6/8,5,THERE &amp; BACK AGAIN AWESOME book! Origi...,537
2,2,book_111922,36.199948,1/16,1,How do you keep an idiot busy for hours? I...,375
3,3,book_114362,65.307664,2/7,1,Randomness Did I miss something here? What...,644
4,4,book_116528,55.329414,16/45,1,pseudo-intellectual and not interesting At...,502

## scale features

In [14]:
data1 = data

In [15]:
data['score'] = data['score'].apply(lambda x: x/100);

In [17]:
data.head()

,Unnamed: 0,name,score,helpful,rating,review,length
0,0,book_11014,0.601930,3/7,2,The Plot for The Giver The plot for the bo...,1421
1,1,book_111659,0.639009,6/8,5,THERE &amp; BACK AGAIN AWESOME book! Origi...,537
2,2,book_111922,0.361999,1/16,1,How do you keep an idiot busy for hours? I...,375
3,3,book_114362,0.653077,2/7,1,Randomness Did I miss something here? What...,644
4,4,book_116528,0.553294,16/45,1,pseudo-intellectual and not interesting At...,502

In [23]:
def ratio(string):
    num1 = int(string[:string.index('/')])
    num2 = int(string[string.index('/')+1:])
    return num1/num2

data.helpful = data.helpful.apply(lambda x: ratio(x))

In [24]:
data.head()

,Unnamed: 0,name,score,helpful,rating,review,length
0,0,book_11014,0.601930,0.428571,2,The Plot for The Giver The plot for the bo...,1421
1,1,book_111659,0.639009,0.750000,5,THERE &amp; BACK AGAIN AWESOME book! Origi...,537
2,2,book_111922,0.361999,0.062500,1,How do you keep an idiot busy for hours? I...,375
3,3,book_114362,0.653077,0.285714,1,Randomness Did I miss something here? What...,644
4,4,book_116528,0.553294,0.355556,1,pseudo-intellectual and not interesting At...,502

In [26]:
data.rating = data.rating.apply(lambda x: x/5)
data.head()

,Unnamed: 0,name,score,helpful,rating,review,length
0,0,book_11014,0.601930,0.428571,0.08,The Plot for The Giver The plot for the bo...,1421
1,1,book_111659,0.639009,0.750000,0.20,THERE &amp; BACK AGAIN AWESOME book! Origi...,537
2,2,book_111922,0.361999,0.062500,0.04,How do you keep an idiot busy for hours? I...,375
3,3,book_114362,0.653077,0.285714,0.04,Randomness Did I miss something here? What...,644
4,4,book_116528,0.553294,0.355556,0.04,pseudo-intellectual and not interesting At...,502

In [27]:
data.rating = data.rating.apply(lambda x: x*5)
data.head()

,Unnamed: 0,name,score,helpful,rating,review,length
0,0,book_11014,0.601930,0.428571,0.4,The Plot for The Giver The plot for the bo...,1421
1,1,book_111659,0.639009,0.750000,1.0,THERE &amp; BACK AGAIN AWESOME book! Origi...,537
2,2,book_111922,0.361999,0.062500,0.2,How do you keep an idiot busy for hours? I...,375
3,3,book_114362,0.653077,0.285714,0.2,Randomness Did I miss something here? What...,644
4,4,book_116528,0.553294,0.355556,0.2,pseudo-intellectual and not interesting At...,502

# Structural

## total number of tokens, total number of sentences, av- erage length of sentences, number of exclamation marks, and the percentage of question sentences.

In [31]:
# totla number of sentences 

data['num_sentences'] = data.review.apply(lambda x: x.count('.'))
data.head()

,Unnamed: 0,name,score,helpful,rating,review,length,num_sentences
0,0,book_11014,0.601930,0.428571,0.4,The Plot for The Giver The plot for the bo...,1421,16
1,1,book_111659,0.639009,0.750000,1.0,THERE &amp; BACK AGAIN AWESOME book! Origi...,537,10
2,2,book_111922,0.361999,0.062500,0.2,How do you keep an idiot busy for hours? I...,375,4
3,3,book_114362,0.653077,0.285714,0.2,Randomness Did I miss something here? What...,644,5
4,4,book_116528,0.553294,0.355556,0.2,pseudo-intellectual and not interesting At...,502,7

In [33]:
#average length of sentences

def avg_sent_length(string):
    sentences = string.split('.')
    sum_len = 0
    for s in sentences:
        sum_len += len(s)
    return sum_len/len(sentences)

data['avg_sent_len'] = data.review.apply(lambda x: avg_sent_length(x))
data.head()

,Unnamed: 0,name,score,helpful,rating,review,length,num_sentences,avg_sent_len
0,0,book_11014,0.601930,0.428571,0.4,The Plot for The Giver The plot for the bo...,1421,16,82.647059
1,1,book_111659,0.639009,0.750000,1.0,THERE &amp; BACK AGAIN AWESOME book! Origi...,537,10,47.909091
2,2,book_111922,0.361999,0.062500,0.2,How do you keep an idiot busy for hours? I...,375,4,74.200000
3,3,book_114362,0.653077,0.285714,0.2,Randomness Did I miss something here? What...,644,5,106.500000
4,4,book_116528,0.553294,0.355556,0.2,pseudo-intellectual and not interesting At...,502,7,61.875000

In [34]:
# num of excalmation marks

data['num_exclm_mark'] = data.review.apply(lambda x: x.count('!'))
data.head()

,Unnamed: 0,name,score,helpful,rating,review,length,num_sentences,avg_sent_len,num_exclm_mark
0,0,book_11014,0.601930,0.428571,0.4,The Plot for The Giver The plot for the bo...,1421,16,82.647059,1
1,1,book_111659,0.639009,0.750000,1.0,THERE &amp; BACK AGAIN AWESOME book! Origi...,537,10,47.909091,1
2,2,book_111922,0.361999,0.062500,0.2,How do you keep an idiot busy for hours? I...,375,4,74.200000,0
3,3,book_114362,0.653077,0.285714,0.2,Randomness Did I miss something here? What...,644,5,106.500000,0
4,4,book_116528,0.553294,0.355556,0.2,pseudo-intellectual and not interesting At...,502,7,61.875000,0

In [50]:
# % of question sentences ( I will only consider the ? mark now and later can change it)

def per_of_q(string):
    
    num_q = string.count("?")
    new_string = string.replace("?",".")
    sentences = new_string.split(".")
    
    return num_q/len(sentences)
    
data['ratio_q'] = data.review.apply(lambda x: per_of_q(x))

In [82]:
data.head()

,Unnamed: 0,name,score,helpful,rating,review,length,num_sentences,avg_sent_len,num_exclm_mark,ratio_q
0,0,book_11014,0.601930,0.428571,0.4,The Plot for The Giver The plot for the bo...,1421,16,82.647059,1,0.000000
1,1,book_111659,0.639009,0.750000,1.0,THERE &amp; BACK AGAIN AWESOME book! Origi...,537,10,47.909091,1,0.000000
2,2,book_111922,0.361999,0.062500,0.2,How do you keep an idiot busy for hours? I...,375,4,74.200000,0,0.166667
3,3,book_114362,0.653077,0.285714,0.2,Randomness Did I miss something here? What...,644,5,106.500000,0,0.333333
4,4,book_116528,0.553294,0.355556,0.2,pseudo-intellectual and not interesting At...,502,7,61.875000,0,0.000000

# URG (TF-IDF)

In [161]:
#calc infrequent words

bow = []
for r in data.review:
    bow += r.split(' ')
bow = set(bow)
print(len(bow))

words_n = dict.fromkeys(bow,0)
print(len(words_n))

for w in bow:
    for r in data.review:
        if w in r:
            words_n[w] += 1

bow_freq = {k:v for k,v in words_n.items() if v > 2}
print(len(bow_freq))

bow_freq.keys()

3580
3580
867

dict_keys(['', 'who', '(or', 'old', 'race', 'characters', 'reviewers', 'rise', 'all,', 'amazing', 'character', 'makes', 'soon', 'best', 'due', 'where', 'things', 'com', 'version', 'described', 'He', 'exact', 'create', 'core', 'real', 'end,', 'How', 'novel.', 'regardless', 'train', 'somewhat', 'cover', 'forced', "Rand's", 'way', 'than', 'those', 'hours', "won't", 'king', 'will', 'answer', 'she', 'stuff', 'sitting', 'finally', 'powerful', 'takes', 'im', 'religious', 'an', 'books', 'before', 'life.', 'perfect', 'drive', '-', 'teenager', 'Although', 'care', 'school', 'while', 'opinion', 'ages', 'America', 'boy', 'little', 'instead', 'rough', 'level', 'ties', 'stop', 'try', 'around', 'attention', 'always', 'we', 'read,', 'seller', 'simply', 'am', 'or', 'in', 'personal', 'having', 'Or', 'For', 'plot.', 'consider', 'arguments', "that's", 'between', 'And', 'finish', 'In', 'become', 'like', 'written', 'sure', 'truth', 'Great', 'class', 'it,', 'fortune', 'style', 'return', 'men', 'ready', 'impress', 'recent', 'think', 'example', 'friend', 'page', 'Maybe', 'times', 'guess', 'conservative', 'sound', 'been', 'even', 'author', 'reading', 'ends', 'which', 'tea', 'seem', 'dwarves', 'back', 'ages.', 'work', 'thin', 'able', 'age', 'stories', 'epic', 'done', 'look', 'NOT', 'shows', 'literature', 'early', 'references', 'moral', 'time.', 'wing', 'second', 'mean', 'me', 'land', 'pain', 'year', 'teens', 'book.', 'rest', 'day', 'reads', 'fact', 'start', 'is.', 'making', 'sent', 'right', 'My', 'sea', 'Man', 'late', 'home', 'for', 'clear', 'There', 'maybe', 'current', 'clearly', 'your', 'listed', 'Thank', 'format', 'everyone', 'them.', 'are', 'why', 'crap', 'number', 'seek', 'An', 'premise', '--', 'how', 'too', 'son', 'murder', 'boring', 'book!', 'expect', 'feel', 'book,', 'historical', 'any', 'cult', 'sense', 'ill', 'logic', 'follow', 'anything', 'go', 'aged', 'their', 'student', 'word', 'rave', 'movie', 'country', 'Vinci', 'era', 'could', 'bit', 'deep', 'bad', 'social', 'claim', "doesn't", 'search', '15', 'yes', "isn't", 'ado', 'Jonas', 'role', 'lame', 'product', '.', 'my', 'His', 'difference', 'earn', 'last', 'day.', 'philosophical', 'love', '20', 'line', 'copy', 'about', 'lazy', 'have', '...', 'market', 'ON', 'die', 'toward', 'people', 'miss', 'run', 'if', 'definitely', 'again', 'over', 'lives', 'Best', 'paperback', 'not', 'worth', 'beautiful', 'made', 'past', 'that.', 'other', 'hit', 'standard', 'starts', 'count', 'usually', 'felt', 'action', 'free', 'Smaug', 'highly', 'its', 'We', 'leave', 'course', 'few', 'silly', 'day,', 'presented', 'fell', 'Christianity', 'rant', 'That', 'tried', 'nice', 'helpful', 'The', 'such', 'On', 'aimed', 'disappointed', 'Of', 'both', 'But', 'child', 'A', 'Amazon.', 'Give', 'fantasy', 'One', 'evil', 'paper', 'brings', 'broke', 'While', 'him', 'going', 'on', 'else', 'poor', 'sit', '200', 'completely', 'tell', 'lists', 'short', 'and,', 'imagine', 'spite', 'quite', 'busy', 'once', 'society.', 'pages,', 'readers', 'give', 'still', 'disappointing', 'piece', 'month', 'years', 'Dagny', 'similar', 'cut', 'one.', 'enjoy', 'minded', 'dry', 'difficult', 'though', 'found', 'today', 'would', 'it.', 'that', 'these', 'important', 'NOVEL', '(in', 'air', 'well', 'problems', 'especially', 'you,', 'previous', 'said', 'plot', 'Ayn', 'every', 'live', 'wonderful', 'take', 'down', 'several', 'now', 'story', 'up', 'quest', 'Baggins', 'stars', "it's", 'change', 'issue', 'ways', 'history', 'accurate', "I'm", 'Hobbit.', 'understanding', 'under', 'out.', 'loved', 'Too', 'find', 'power', 'kind', 'high', 'each', 'need', 'story,', 'se,', 'help', 'recommended', 'recommend', 'political', 'ought', 'has', 'his', "It's", 'went', 'during', 'Al', 'come', 'want', 'novel', 'novel,', 'also', 'Even', 'see', 'from', 'tead', 'Kerry', 'show', '10', "you'll", 'father', 'significant', 'pay', 'prove', 'oft', "Don't", 'of', 'since', 'were', "wasn't", 'rational', 'philosophy', 'classic', 'They', 'rather', 'a', 'main', 'per', 'dragon', 'capitalism', 'everything', 'sex', 'long', 'make', 'yourself', 'life', 'new', '&', 'ad', '1', 'art', 'You', 'by', 'keep', 'world', 'relationship', 'f', 'what', 'write', 'above', 'days', 'down.', 'information', 'pointed', 'Am', 'pass', 'poorly', 'point', 'hate', 'changed', 'lie', 'When', 'should', 'just', 'true', 'good', 'eight', 'chapter', 'Fountainhead', 'Dan', 'man', 'It', 'So', 'Bilbo', 'review', 'theories', 'writer', 'question', 'game', "can't", 'media', 'end.', 'must', 'type', 'exactly', 'government', 'time', 'till', 'idea', 'profound', 'evidence', 'parts', 'called', 'I', 'cannot', 'uses', 'wish', 'occasion', 'adult', 'comes', 'J', 'interesting.', 'writing,', 'principles', 'filled', 'disagree', 'turned', 'anyone', 'another', 'so', 'same', 'inside', 'Brown', 'anything.', 'complain', 'children', 'came', 'sat', '8', 'say', 'disturbing', 'lead', 'very', 'story.', 'cause', 'group', 'read.', 'develop', 'into', 'resort', 'serious', 'value', 'recently', 'put', 'receive', 'After', 'complete', 'waste', 'off', 'ensure', 'view', 'However,', 'drawn', 'careful', 'know', 'abridged', '50', 'Shrugged', 'six', 'historic', 'away.', 'Amazon', 'reason', 'b', 'struggle', 'being', 'through', 'most', 'serve', 'let', 'parent', 'net', 'the', 'young', 'without', 'Da', 'do', 'ideas', 'because', 'interesting', 'named', 'bored', 'Hobbit', 'her', 'reading.', 'etc.', 'mind,', 'does', 'can', 'probably', 'form', 'ever', 'whole', 'but', 'believe', 'person', 'times,', 'speech', 'sue', 'lot', 'enough', 'fun', 'adventure', 'fall', 'owing', 'you', 'mix', '6', 'self', "Holden's", 'hard', 'rating', 'when', 'All', 'grand', 'led', 'earlier', 'says', 'drawings', 'customer', 'only', 'society', 'Harry', 'numerous', 'etc', 'mostly', 'given', 'read', 'is,', 'some', 'lay', 'them', 'No', 'certainly', 'really', "I've", 'excellent', 'quit', 'sort', 'Yet', 'there', 'series', 'fiction.', 'intelligent', 'Every', 'star', 'excuse', 'be', 'along', 'side', 'New', 'limited', 'himself', 'her,', 'crafted', 'print', 'fictional', 'themselves', 'they', 'John', 'weak', 'then', 'notes', 'mother', 'stupid', 'This', 'xi', 'reference', 'begin', 'fill', 'often', 'away', 'i', 'elves.', 'Some', 'writing', 'out', 'hold', 'reader', 'To', 'totally', 'If', 'here,', 'gift', 'owe', 'At', 'never', 'save', 'hear', 'me.', 'including', 'Be', 'fiction', 'on,', 'go.', 'content', 'lying', 'edition', 'was', 'interested', 'beginning', 'great', '3', 'gets', 'publishing', 'description', 'either', 'all', 'asleep', 'may', 'mind', 'five', 'coming', 'Holden', 'full', 'certain', 'characters,', 'works', 'Do', 'human', 'own', 'part', 'list', 'What', 'acts', 'published', 'get', 'lied', "didn't", 'way,', '"The', "today's", 'supposed', 'understand', 'many', 's', 'getting', 'storyline', 'suggest', 'x', 'hobbit', "book's", 'da', 'Read', 'worst', 'better', 'no', 'here', 'Mr.', 'picture', 'actual', 'hi', 'appear', 'As', 'happened', 'nothing', 'note', 'bet', 'illustrations', 'might', 'longer', 'end', 'fine', 'Bush', 'reviews', 'accept', 'today.', 'it', 'conspiracy', 'tale', 'result', 'text', 'BACK', 'time,', 'got', 'support', 'thing.', 'wrote', 'more', 'Not', 'one', 'open', '(I', 'modern', 'instead.', 'truth,', 'to.', 'world.', 'wants', 'agree', 'issues', 'thought', 'had', 'quality', 'light', 'considered', 'on.', 'least', 'wonder', 'call', 'ending', 'except', 'two', 'much', 'he', 'as', 'our', 'written,', 'treasure', 'research', 'friends', 'please', 'rely', 'special', 'book', 'included', 'Most', 'questions', 'Rand', 'reality', 'Much', 'first', 'Tolkien', 'less', 'teenage', 'deal', 'slow', 'well,', 'ship', 'taken', 'exist.', 'contact', 'ask', 'this', 'is', 'mass', 'with', 'heard', 'to', "don't", 'teen', 'danger', 'actually', 'something', 'American', 'and', 'however,', 'belief', '4', 'far', 'point.', 'ok', 'Atlas', 'did', 'storyline.', 'Yes,', 'at', 'thing', 'close', 'argument', 'pages', 'after', 'words', 'choice', 'use'])

In [163]:
# TF-IDF (I only removed words from nltk and "the" >> Remove more words and infrequent words)
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords

#remove stop_words 
reviews_clean = []
stop_words = stopwords.words('english');
stop_words += ["the","and","it"]

for r in data.review:
    clean_r = r
    for w in r.split(' '):
        if w in stop_words: 
            clean_r = clean_r.replace(w,"");
    reviews_clean.append(clean_r)
    
            
# calculate tf-idf
vectorizer = TfidfVectorizer()
vectors = vectorizer.fit_transform(reviews_clean)
feature_names = vectorizer.get_feature_names()
dense = vectors.todense()
denselist = dense.tolist()

tf_idf = pd.DataFrame(denselist, columns=feature_names)

#remove infrequent words

tf_idf.to_csv("tf-idf.csv")
tf_idf.head()

,000,10,100,1000,105,12,14,15,16,17,...,young,younger,yourself,youth,yself,ythg,yugoslvi,yuk,zero,zgly
0,0.0,0.0,0.0,0.000000,0.0,0.076801,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.178732,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [174]:
# remove infrequent words
cols = []
for c in tf_idf.columns:
    col = tf_idf[c]
    num_non_zer = 0
    for r in col:
        if r != 0:
            num_non_zer += 1
    if num_non_zer < 3:
        cols.append(c)
tf_idf_freq = tf_idf.drop(columns=cols)
tf_idf_freq.to_csv('tf_idf_freq.csv')

In [175]:
tf_idf_freq.head()

,15,200,50,after,al,all,although,americ,amzon,and,...,wrten,ws,wsn,wt,wy,yer,yers,yes,yet,you
0,0.0,0.0,0.0,0.0,0.0,0.064962,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
1,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
2,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
3,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.109108
4,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000

# SVM with 1 feature

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X = data[['length','rating']]
y = data['rating']

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [8]:
from sklearn.svm import SVC
model = SVC()

In [12]:
model.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [13]:
model.score(X_test, y_test)

0.25