In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [3]:
data = pd.read_csv('data/unbalanced_reviews.csv')
data = data.drop(columns=['1682581870','57098525','13637412'])
data.columns = ['rating','review']
data.head()

   rating                                             review
0       5  كتاب رائع. اعتقد ان الروايه كلها تلخصت بجمله و...
1       4  رواية تلامس الروح بعمقها، فخورة اني اخيرا لقيت...
2       5  رواية محكمة بكل اختصار. وكان الجزء المفضل بالن...
3       3  هذا الكتاب يحزن مرا، ظلم واضطهاد عيسى بلا ذنب ...
4       4  رواية واقعية ورائعة تمثل أحداث تكررت كثيرا في ...

In [4]:
data['no'] = data.index

In [5]:
data.head()

   rating                                             review  no
0       5  كتاب رائع. اعتقد ان الروايه كلها تلخصت بجمله و...   0
1       4  رواية تلامس الروح بعمقها، فخورة اني اخيرا لقيت...   1
2       5  رواية محكمة بكل اختصار. وكان الجزء المفضل بالن...   2
3       3  هذا الكتاب يحزن مرا، ظلم واضطهاد عيسى بلا ذنب ...   3
4       4  رواية واقعية ورائعة تمثل أحداث تكررت كثيرا في ...   4

In [6]:
data_1 = data[:20000]

In [8]:
data_2 = data[20001:40000]

In [9]:
data_3 = data[40001:60000]

In [13]:
data_4 = data[60001:]

In [15]:
data_1.to_csv('data_1.csv')
data_2.to_csv('data_2.csv')
data_3.to_csv('data_3.csv')
data_4.to_csv('data_4.csv')